.pattern-enable {
  position: relative;
  display: block;
}

.pattern-enable:after {
  background-image: url("../../img/pattern/pattern.png");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: '';
  opacity: 0.3;
  z-index: -1;
}

.carousel-inner {
  max-height: 300px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maga-cover {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .maga-cover {
    height: 251px;
    width: auto;
  }
}

.maga-cover:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.card {
  width: 400px;
  min-height: 200px;
  background-color: white;
  border: 0;
}

.card-borderless {
  border: unset;
}

.card-title {
  margin: 0;
  font-size: 1.2rem;
}

.card-body {
  text-align: left;
}

.card-head {
  min-height: 50px;
  background-color: red;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dotted {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
  height: 1.2em;
  white-space: nowrap;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar {
  z-index: 1;
}

.subnav {
  min-height: 40px;
  border-bottom: 1px solid #e6e6e6;
  padding: 12px;
}

.flipbook-main-wrapper {
  z-index: 5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: whitesmoke;
}

body {
  background-color: #E3F2FD;
  height: 100vh;
}

.content {
  position: relative;
}

.login {
  min-height: 100%;
}

.admin {
  min-height: 100%;
  background-color: white;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */