.card {
    &-borderless {
        border: unset;
    }

    width           : 400px;
    min-height      : 200px;
    background-color: white;
    border          : 0;

    &-title {
        margin   : 0;
        font-size: 1.2rem;
    }

    &-body {
        text-align: left;
    }

    &-head {
        min-height      : 50px;
        background-color: $color-primary;
        color           : white;
        display         : flex;
        align-items     : center;
        justify-content : center;
    }

}