.pattern {
    &-enable {
        position: relative;
        display : block;

        &:after {
            background-image: url('../../img/pattern/pattern.png');
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            content: '';
            opacity: 0.3;
            z-index: -1;
        }
    }
}