.maga {
    &-cover {
        width: 100%;
        height: auto;
        transition: all 0.2s;

        @media (min-width: 768px) {
            height: 251px;
            width: auto;
        }

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}
