.dotted {
    text-overflow: ellipsis;
    overflow     : hidden;
    width        : 90%;
    height       : 1.2em;
    white-space  : nowrap;
}

.title {
    font-size  : 1.2rem;
    font-weight: bold;
}