.wrapper {
    display         : flex;
    width           : 500px;
    height          : 300px;
    justify-content : center;
    align-items     : center;
    position        : relative;
    background-color: whitesmoke;
}