<body>
    <div class="container admin d-flex flex-column">
        <div class="subnav d-flex justify-content-between align-items-center">
            <span class="title">Admin Side</span>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Link with href
              </a>
            <button type="button" class="btn btn-primary" href="#collapseData" role="button" aria-expanded="false" aria-controls="collapseData" data-toggle="collapse" data-target="#create">Create
                New</button>
        </div>
        <div id="admin-content" class="flex-fill p-2">
            <!-- <div class="collapse" id="collapseData">
                <div class="card">
                    <div class="card-header">
                        <h5 class="modal-title" id="modalLabel">Create New Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="judul" class="form-label">Judul Majalah</label>
                                <input type="text" class="form-control" id="judul">
                            </div>
                            <div class="mb-3">
                                <label for="fileUpload" class="form-label">Cover</label>
                                <input type="file" class="form-control" id="fileUpload">
                            </div>
                            <div class="mb-3 card w-100 border">
                                <div class="card-header">Halaman</div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="60">No</th>
                                                <th width="50%">Isi Halaman</th>
                                                <th>HTML</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="10">
                                                    <input type="text" class="form-control" id="no">
                                                </td>
                                                <td>
                                                    <input type="file" class="form-control" id="isi">
                                                </td>
                                                <td>
                                                    <textarea type="text" rows="1" class="form-control" id="html">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-danger" id="removeHalaman">Remove</button>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div> -->
            <div class="card border w-100">
                <div class="card-header">
                    <h5 class="modal-title" id="modalLabel">Create New Data</h5>
                </div>
            </div>
            <div id="magazineList" class="row p-2">
            </div>
        </div>
    </div>
    <script src="../js/magazine.js"></script>
    <script>
        $(document).ready(function () {
            $("#content").hide();
            $("#content").fadeIn('slow');

            getListMagazine();
        })
    </script>
</body>
