<div class="container d-flex justify-content-center align-items-center login">
	<div class="card shadow">
		<div class="card-header">
			Login First
		</div>
		<div class="card-body">
			<div class="mb-3">
				<label for="email" class="form-label">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="admin@admin.com">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input class="form-control" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
					type="password"></input>
			</div>
		</div>
		<div class="card-footer">
			<button type="button" class="btn btn-primary">Log In</button>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#content").hide();
		$("#content").fadeIn('slow');

		$('#content').addClass('pattern-enable');
	})
</script>